.navbar.navbar-inverse.navbar-fixed-top
  .container
    a(data-toggle='collapse',data-target='.nav-collapse').btn.navbar-btn
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a(href='#').brand #{title}
    .navbar-collapse.collapse
      ul.nav
        - each val, key in menu
          - if (id == key) 
            li.active
              a(href='#{key}') #{val}
          - else
            li
              a(href='#{key}') #{val}
      - if (loggedIn)
        form.navbar-form.pull-right(method='post', action='/logOut/')
          button.btn.btn-default(type='submit')
            i.icon-off
            | Log out
