extends layout

block content
  .navbar.navbar-fixed-top
    .navbar-inner
      .container-fluid
        a(data-toggle='collapse',data-target='.nav-collapse').btn.btn-navbar
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href='#').brand #{title}
        nav.nav-collapse
          ul.nav
            - var obj = { '/home': 'Html 5 demo', '/tasks': 'Tasks', '/posts': 'Posts', '/location': 'Location', '/storage': 'Storage', '/customers': 'Customers', '/upload': 'Upload' }
            - each val, key in obj
              - if (id == key) 
                li.active
                  a(href='#{key}') #{val}
              - else
                li
                  a(href='#{key}') #{val}
          form.pull-right.navbar-search(method="post",action="/login")
            input.search-query.span2(type="text",name="userId")
          p.navbar-text.pull-right Logged in as #{session.currentUser}
          


  .container.main
    .row
      section.span3.offset1
        nav.well.sidebar-nav
          ul.nav.nav-list
            li
              a(href="/posts/new")
                i.icon-plus
                = 'Create new'
            li.nav-header Created
            each impulse in myImpulses
              li
                a(href="/im/#{impulse.id}",data-id="#{impulse.id}")= impulse.name
      section.span7
        .hero-unit
          h1 im-Pulse
          p Find motivation, be active, inspire others
        .row
          section.span4
            form#createImpulse(method="post", action="/im")
              button.btn(type="submit")
                i.icon-plus
                | Create
              input.input-xlarge#name(name="name",type="text")
              input.input-xlarge#membersNeeded(name="membersNeeded",type="number")
              input#lat(type="hidden",name="lat")
              input#lng(type="hidden",name="lng")
            script(src="https://maps.googleapis.com/maps/api/js?sensor=false")
            script
              $(function() {
                var geocoder = new google.maps.Geocoder();
                var latlng = new google.maps.LatLng(-34.397, 150.644);
                var myOptions = {
                  zoom: 8,
                  center: latlng,
                  mapTypeId: google.maps.MapTypeId.ROADMAP
                }
                var map = new google.maps.Map($("#mapCanvas")[0], myOptions);
              
                $('#geocode').click(function() {
                  var address = $("#address").val();
                  geocoder.geocode({ 'address': address }, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                      map.setCenter(results[0].geometry.location);
                      var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                      });
                      $('#lng').val(results[0].geometry.location.lng());
                      $('#lat').val(results[0].geometry.location.lat());
                    } else {
                      alert("Geocode was not successful for the following reason: " + status);
                    }
                  });
                });
              });
            input#address(type="text",name="address")
            button.btn#geocode
                i.icon-plus
                | Lookup
            #mapCanvas(style="height: 200px;")

        .row
        